<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Error 404</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <!-- <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body class="error-page">
    <div class="main-window">
        <div class="central-container">
            <div class="title">
                <h2>Error</h2>
                <h1>404</h1>
            </div>
            <div class="neon-light">
                <div class="tube"></div>
            </div>
            <div class="info-text">
                <h3>Oups..</h3>
                <p>It looks like the page you are trying to land on is not available</p>
                <p>Click on the button below to move back to the home page</p>
                <a class="neon-btn" href="/">Home</a>
            </div>
        </div>
    </div>
</body>
</html>