<script>
    jQuery(
        $(function() {
            $("nav .nav-header").attr("data-neon-style", navColor);
        })
    )
</script>

<style>
    #site_logo {
        transition: .3s filter, .45s scale;
    }

    a:hover #site_logo {
        scale: 1.05;
    }

    nav .nav-header[data-neon-style="blue"] a:hover #site_logo {
        filter: drop-shadow(#2fb5b5 0 0 5px);
    }

    nav .nav-header[data-neon-style="red"] a:hover #site_logo {
        filter: drop-shadow(red 0 0 4px);
    }

    nav .nav-header[data-neon-style="yellow"] a:hover #site_logo {
        filter: drop-shadow(#e4c023 0 0 5px);
    }

    nav .nav-header[data-neon-style="purple"] a:hover #site_logo {
        filter: drop-shadow(#6b18bd 0 0 5px);
    }

    nav .nav-header[data-neon-style="green"] a:hover #site_logo {
        filter: drop-shadow(#104f10 0 0 5px);
    }
</style>


<nav id="neon-navbar">
    <div class="flexbox">
        <div class="nav-header" data-neon-style="">
            <div class="menu-item"><a href="about.html">About Me</a></div>
            <div class="menu-item"><a href="skills.html">Skills</a></div>
            <div class="menu-item logo">
                <div class="background">
                    <a href="index.html">
                        <div id="site_logo"></div>
                    </a>
                </div>
            </div>
            <div class="menu-item"><a href="gallery.html">Portfolio</a></div>
            <div class="menu-item"><a href="contact.html">Contact</a></div>
        </div>
    </div>
</nav>

<script>
        $('#site_logo').load('src/components/3d-logo.html');
    </script>