@import './css/gallery.css';
@import './css/skills.css';
@import './css/about.css';

:root {
    /*--purple: ;*/
    --red: red;
    /*--blue: ;
    --green: ;*/
    --red-box-shadow: rgba(255, 0, 0, 0.4);
    --textColor: cyan;
    --textShadow: aqua;
    --backgroundColor: cyan;
    --boxShadow: aqua;

    --green: rgb(0, 128, 0);
    --lightGreen: rgb(22, 216, 22);
}

@font-face {
    font-family: 'Expletus Sans';
    src: url('fonts/expletus-sans.bold.ttf');
}

@font-face {
    font-family: 'Mom Cake';
    src: url('fonts/MomcakeBold-WyonA.otf');
}

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    margin-bottom: 0;
}

/** {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

*::-webkit-scrollbar {
    width: 8px;
}

    *::-webkit-scrollbar-track {
        background: rgba(226, 220, 220, 0.2);
    }


    *::-webkit-scrollbar-thumb {
        background-color: red;
        box-shadow: rgba(255, 0, 0, 0.6) 0 0 3px;
        border-radius: 20px;
    }*/

h1,
h2 {
    font-family: 'Expletus Sans';
}

li,
p,
h4 {
    font-family: Montserrat;
    color: white;
}

button,
input[type='button'],
input[type='submit'],
a {
    cursor: pointer;
}

.fixed-visual-size {
    min-height: calc(100vh - 70px - 100px);
display: flex;
}

.fixed-visual-size > div:first-of-type {
    flex: 1;
}

nav {
    width: 100%;
    height: 70px;
    margin-top: 8px;
}

nav .flexbox {
    display: flex;
}

.footer-container {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer {
    min-height: 100px;
    position: relative;
    overflow: hidden;
}

footer .full-width {
    position: absolute;
    width: 100%;
    bottom: -100%;
    transition: bottom 0.7s ease-out;
}

footer .full-width.bottom-reached {
    bottom: 13px;
}

footer .bottom-bar {
    width: 70%;
    top: 0px;
    position: relative;
    margin: 0 auto;
    border-radius: 30px;
    /*max-height: 50px;*/
    font-family: 'Noto Sans';
    color: white;
    padding: 0 4px;
    height: 36px;
}

footer .bottom-bar .flex {
    display: flex;
    align-items: center;
    height: 100%;
}

footer .bottom-bar .copyright-bar {
    width: 50%;
}

footer .bottom-bar .copyright-bar div {
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
    text-align: center;
    text-shadow: #282828 0 2px 3px;
    padding: 1px;
}

footer .bottom-bar .right-hand-space {
    flex-direction: row-reverse;
}

footer .bottom-bar .left-hand-space,
footer .bottom-bar .right-hand-space {
    display: flex;
    min-width: 25%;
}

footer .bottom-bar .left-hand-space .top-page-btn {
    cursor: pointer;
}

footer .bottom-bar .left-hand-space .top-page-btn div,
.mobile-size-footer .neon-options .btn-top .btn {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: grid;
}

footer .bottom-bar .left-hand-space .top-page-btn div i,
.mobile-size-footer .neon-options .btn-top .btn i {
    margin: auto;
}

footer .bottom-bar .right-hand-space .links {
    margin: 0 4px;
}

footer .bottom-bar .right-hand-space .links:nth-of-type(1) {
    margin-right: 0;
}

footer .bottom-bar .right-hand-space a,
.mobile-size-footer .neon-options .social-media .neon-bg .links a {
    padding: 8px;
    background-color: #231F20;
    border-radius: 50%;
    display: block;
}

footer .bottom-bar .right-hand-space a .logo-box {
    height: 12px;
}

footer .bottom-bar .right-hand-space a .logo-box svg {
    display: block;
}

footer .copyright-bar p {
    font-size: 0.75em;
    text-align: center;
}


/*
     * Yellow Footer
     */

footer[data-neon-style="yellow"] .bottom-bar,
.mobile-size-footer footer[data-neon-style="yellow"] .btn-top .neon-bg,
.mobile-size-footer footer[data-neon-style="yellow"] .neon-options .social-media .neon-bg {
    background-color: #e4c023;
    filter: drop-shadow(#f2c606 0px 0px 5px) drop-shadow(#f2c606 0px 0px 1px);
}

footer[data-neon-style="yellow"] .bottom-bar .top-page-btn .background,
.mobile-size-footer footer[data-neon-style="yellow"] .btn-top .btn {
    background-color: #caab25;
    box-shadow: #eedb3e inset 0 0 5px;
}

/*
     * Blue Footer
     */

footer[data-neon-style="blue"] .bottom-bar,
.mobile-size-footer footer[data-neon-style="blue"] .btn-top .neon-bg,
.mobile-size-footer footer[data-neon-style="blue"] .neon-options .social-media .neon-bg {
    background-color: cyan;
    filter: drop-shadow(cyan 0px 0px 4px) drop-shadow(cyan 0px 0px 1px);
}

footer[data-neon-style="blue"] .bottom-bar .top-page-btn .background,
.mobile-size-footer footer[data-neon-style="blue"] .btn-top .btn {
    box-shadow: #65dcd7 inset 0 0 5px;
    background-color: #17e9e9;
}

/*
     * Purple Footer
     */

footer[data-neon-style="purple"] .bottom-bar,
.mobile-size-footer footer[data-neon-style="purple"] .btn-top .neon-bg,
.mobile-size-footer footer[data-neon-style="purple"] .neon-options .social-media .neon-bg {
    background-color: #4c067b;
    filter: drop-shadow(#6b18bd 0px 0px 8px) drop-shadow(#6b18bd 0px 0px 1px);
}

footer[data-neon-style="purple"] .bottom-bar .top-page-btn .background,
.mobile-size-footer footer[data-neon-style="purple"] .btn-top .btn {
    background-color: #48126d;
    box-shadow: #5a0da6 inset 0 0 5px;
}

/*
     * Red Footer
     */

footer[data-neon-style="red"] .bottom-bar,
.mobile-size-footer footer[data-neon-style="red"] .btn-top .neon-bg,
.mobile-size-footer footer[data-neon-style="red"] .neon-options .social-media .neon-bg {
    background-color: red;
    filter: drop-shadow(red 0px 0px 4px) drop-shadow(red 0px 0px 1px);
}

footer[data-neon-style="red"] .bottom-bar .top-page-btn .background,
.mobile-size-footer footer[data-neon-style="red"] .btn-top .btn {
    box-shadow: #e06868 inset 0 0 5px;
    background-color: #af2020;
}

/*
     * Green Footer
     */

footer[data-neon-style="green"] .bottom-bar,
.mobile-size-footer footer[data-neon-style="green"] .btn-top .neon-bg,
.mobile-size-footer footer[data-neon-style="green"] .neon-options .social-media .neon-bg {
    background-color: #0eab0e;
    box-shadow: #0eab0e 0 0 8px, rgba(14, 171, 14, 0.7) 0 0 14px;
}

footer[data-neon-style="green"] .bottom-bar .top-page-btn .background,
.mobile-size-footer footer[data-neon-style="green"] .btn-top .btn {
    background-color: #0e8c0e;
    box-shadow: #3eb23e inset 0 0 5px;
}


/************* Footer for mobile *********************/

.mobile-size-footer {
    display: none;
    margin-top: 5em;
}

.mobile-size-footer footer[data-neon-style="green"] {
    margin-top: 5em;
}

.mobile-size-footer .neon-options {
    display: flex;
    margin-bottom: 16px;
    margin-top: 10px;
}

.mobile-size-footer .neon-options > div:first-of-type {
    display: flex;
width: 100%;
justify-content: center;
}

.mobile-size-footer .neon-options .btn-top {
    margin-right: 4px;
}

.mobile-size-footer .neon-options .btn-top,
.mobile-size-footer .neon-options .social-media {
    padding: 7px;
}

.mobile-size-footer .neon-options .btn-top .neon-bg {
    padding: 4px;
border-radius: 50%;
display: inline-block;
}

.mobile-size-footer .neon-options .btn-top .btn-top .neon-bg {
    margin-right: 10px;
}

.mobile-size-footer .neon-options .social-media .btn-top .neon-bg {
    margin-left: 4px;
}

.mobile-size-footer .neon-options .btn-top .btn {
    height: 28px;
width: 28px;
}

.mobile-size-footer .neon-options .btn-top i svg {
    fill: white;
}

.mobile-size-footer .neon-options .social-media {
    margin-left: 10px;
}

.mobile-size-footer .neon-options .social-media .neon-bg {
    padding: 4px;
border-radius: 25px;
display: inline-flex;
}

.mobile-size-footer .neon-options .social-media .neon-bg .links:not(:last-of-type) {
    margin-right: 5px;
}

.mobile-size-footer .neon-options .social-media .neon-bg .links .logo-box {
    height: 12px;
display: flex;
}

.mobile-size-footer .copyright p {
    font-size: .6em;
}

@media only screen and (max-width: 650px) {
    .footer-container {
        display: none;
        opacity: 0;
    }

    .mobile-size-footer {
        display: block;
    }
    
}


@import url(//db.onlinewebfonts.com/c/69d83e4c4f28f156ca2e5790d0e271ab?family=Zefani+Stencil);

.nav-header {
    height: 36px;
    width: 830px;
    background-color: black;
    border-radius: 50px;
    /*border-bottom: red 1px solid;*/
    color: white;
    display: inline-flex;
    align-items: center;
    text-align: center;
    /*filter: drop-shadow(red 0 5px 5px);*/
    margin: 0 auto;
    margin-top: 14px;
    padding: 0 20px;
}

.nav-header .menu-item {
    width: 20%;
}

.nav-header .menu-item.logo {
    display: flex;
    justify-content: center;
}

.nav-header .menu-item.logo .background {
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-header .menu-item.logo .background:before {
    content: "";
    height: 100px;
    width: 100px;
    border-radius: 40px;
    background-color: black;
    box-shadow: black 0 0 7px 2px;
}

.nav-header .menu-item.logo .three-dimensional-neon-structure {
    position: absolute;
    perspective: 1905px;
    transform: translateX(35px) translateY(21px);
}

.nav-header .menu-item.logo .three-dimensional-neon-structure .three-dimensional-effect {
    transform-style: preserve-3d;
    position: relative;
}

.nav-header div a,
#navbar .nav-menu ul a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-family: Candara;
    /*text-shadow: green 0px 0px 2px;*/
    background-clip: text;
    color: transparent;
    font-size: .85em;
}

.nav-header div a:visited {
    color: white;
}

.nav-header .menu-item.logo a {
    width: 70px;
    height: 65px;
    position: absolute;
}

nav .nav-header .three-dimensional-neon-structure {
    transform: translateY(-13px);
}

nav .nav-header .three-dimensional-effect {
    scale: 0.07;
}

/****** Red Glowing navbar *****/

nav .nav-header[data-neon-style="red"] {
    border-bottom: red 1px solid;
    box-shadow: red 0 3px 5px;
}

nav .nav-header[data-neon-style="red"] .menu-item a,
#navbar .nav-menu[data-neon-style="red"] ul a {
    color: rgb(149, 41, 41);
}

nav .nav-header[data-neon-style="red"] .menu-item a:hover {
    color: red;
    text-shadow: red 0 0 1px, rgba(255, 0, 0, 0.5) 0 0 7px, rgba(255, 0, 0, 0.3) 0 0 10px;
}

nav .nav-header[data-neon-style="red"] .menu-item.logo .face {
    background-color: red;
    box-shadow: red 0 0 18px, rgba(255, 0, 0, 0.4) 0 0 11px;
}

#navbar .nav-menu[data-neon-style="red"] button {
    color: #e85252;
background-color: red;
box-shadow: #802b2b 0 0 18px 5px, #e43939 inset 0 0 18px 5px;
}

/****** Green Glowing navbar *****/

nav .nav-header[data-neon-style="green"] {
    border-bottom: rgb(0, 128, 0) 1px solid;
    box-shadow: rgb(0, 128, 0) 0 4px 6px 0px;
}

nav .nav-header[data-neon-style="green"] .menu-item a,
#navbar .nav-menu[data-neon-style="green"] ul a {
    color: #055e05;
}

nav .nav-header[data-neon-style="green"] .menu-item a:hover {
    color: var(--lightGreen);
    text-shadow: rgb(0, 128, 0) 0 0 1px, rgba(0, 128, 0, 0.5) 0 0 7px, rgba(0, 128, 0, 0.3) 0 0 10px;
}

nav .nav-header[data-neon-style="green"] .menu-item.logo .face {
    background-color: rgb(0, 128, 0);
    box-shadow: rgb(0, 128, 0) 0 0 18px, rgba(0, 128, 0, 0.4) 0 0 11px;
}

#navbar .nav-menu[data-neon-style="green"] button {
    color: #2aa22a;
background-color: green;
box-shadow: #104f10 0 0 18px 5px, #11a911 inset 0 0 18px 5px;
}

/****** Yellow Glowing navbar *****/

nav .nav-header[data-neon-style="yellow"] {
    border-bottom: #e4c023 1px solid;
    box-shadow: #e4c023 0 3px 5px;
}

nav .nav-header[data-neon-style="yellow"] .menu-item a,
#navbar .nav-menu[data-neon-style="yellow"] ul a {
    color: #a28d33;
}

nav .nav-header[data-neon-style="yellow"] .menu-item a:hover {
    color: #e4c023;
    text-shadow: rgb(162, 141, 51) 0 0 1px, rgba(162, 141, 51, 0.5) 0 0 7px, rgba(162, 141, 51, 0.3) 0 0 10px;
}

nav .nav-header[data-neon-style="yellow"] .menu-item.logo .face {
    background-color: rgb(228, 192, 35);
    box-shadow: rgb(228, 192, 35) 0 0 18px, rgba(228, 192, 35, 0.4) 0 0 11px;
}

#navbar .nav-menu[data-neon-style="yellow"] button {
    background-color: rgb(255, 215, 0);
box-shadow: rgba(255, 215, 0, 0.5) 0px 0px 11px 1px, rgba(255, 215, 0, 0.2) 0px 0px 16px 4px, yellow inset 0px 0px 11px 5px;
color: rgb(224, 160, 48);
}

/****** Purple Glowing navbar *****/

nav .nav-header[data-neon-style="purple"] {
    border-bottom: #4c067b 1px solid;
    box-shadow: #6b18bd 0 4px 6px 1px;
}

nav .nav-header[data-neon-style="purple"] .menu-item a,
#navbar .nav-menu[data-neon-style="purple"] ul a {
    color: #4c067b;
}

nav .nav-header[data-neon-style="purple"] .menu-item a:hover {
    color: #7b1eba;
    text-shadow: rgb(107, 24, 189) 0 0 1px, rgba(107, 24, 189, 0.5) 0 0 7px, rgba(107, 24, 189, 0.3) 0 0 10px;
}

nav .nav-header[data-neon-style="purple"] .menu-item.logo .face {
    background-color: rgb(123, 30, 186);
    box-shadow: rgb(123, 30, 186) 0 0 18px, rgba(123, 30, 186, 0.4) 0 0 11px;
}

#navbar .nav-menu[data-neon-style="purple"] button {
    color: #8f09fe;
    background-color: #4c067b;
box-shadow: #4c067b 0px 0px 18px 5px, #6b18bd inset 0px 0px 18px 5px;
}

/****** Blue Glowing navbar *****/

nav .nav-header[data-neon-style="blue"] {
    border-bottom: cyan 1px solid;
    box-shadow: cyan 0 3px 5px;
}

nav .nav-header[data-neon-style="blue"] .menu-item a,
#navbar .nav-menu[data-neon-style="blue"] ul a {
    color: #2fb5b5;
}

nav .nav-header[data-neon-style="blue"] .menu-item a:hover,
#navbar .nav-menu[data-neon-style="blue"] ul a:hover {
    color: rgb(0, 255, 255);
    text-shadow: rgb(0, 255, 255) 0 0 1px, rgba(0, 255, 255, 0.5) 0 0 7px, rgba(0, 255, 255, 0.3) 0 0 10px;
}

nav .nav-header[data-neon-style="blue"] .menu-item.logo .face {
    /*background-color: rgb(123, 30, 186);
    box-shadow: rgb(123, 30, 186) 0 0 18px, rgba(123, 30, 186,0.4) 0 0 11px;*/
}

#navbar .nav-menu[data-neon-style="blue"] button {
    color: #5bc;
background-color: aqua;
box-shadow: #197a7a 0 0 18px 5px, #4dcfcf inset 0 0 18px 5px;
}


@media only screen and (max-width: 650px) {
    nav#neon-navbar {
        display: none;
        opacity: 0;
    }

    #navbar nav,
    #navbar nav .nav-header {
        width: unset;
    }

    #navbar .nav-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #090909;
        top: 0;
        left: 0;
        z-index: 110;
        display: none;
    }

    #navbar .nav-menu.show {
        display: block;
    }

    #navbar .nav-menu .grid {
        display: grid;
        height: 100%;
        grid-auto-rows: auto 20%;
        text-align: center;
    }

    #navbar .nav-menu .grid > div:first-of-type {
        align-self: center;
    }

    #navbar .nav-menu ul {
        padding: 0;
        display: block;
        margin: auto;
        width: 130px;
        list-style: none;
    }

    #navbar .nav-menu ul li {
        margin: 32px 0;
    }

    #navbar .nav-menu ul a {
        font-size: .95em;
        text-decoration: none;
    }

    #navbar .nav-menu button {
        border-radius: 40px;
    border: none;
    padding: 12px 18px;
    transition: box-shadow 0.7s;
    text-transform: uppercase;
    font-family: Candara;
    font-size: 12px;
    letter-spacing: 6px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 12px;
    transition: box-shadow 0.7s;
    text-indent: 8px;
    }
}


.color-picker {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
}

.color-picker .object-container {
    bottom: 20px;
    left: 40px;
    position: absolute;
    display: flex;
}

.color-picker .color-selector-button {
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: aqua 0 0 9px;
}

.color-picker .selector {
    width: 300px;
    height: 50px;
    background-color: #2e2e2e;
    border-radius: 30px;
    margin-left: 25px;
    padding: 5px 10px;
    display: flex;
}

main {
    opacity: 0;
    transition: opacity 1.2s ease-in;
    transition-delay: 500ms;
}

main.visible {
    opacity: 1;
}

.neon-btn {
    border-radius: 40px;
    border: none;
    padding: 10px 13px;
    transition: box-shadow 0.7s;
    text-transform: uppercase;
    font-family: Candara;
    font-size: 12px;
    letter-spacing: 8px;
    font-weight: bold;
    text-indent: 8px;
}

/*Main Page*/

.home-page {
    display: flex;
    justify-content: center;
min-height: calc(100vh - 75px - 100px);
align-items: center;
}

.home-page > div {
    display: inline-flex;
}

.home-page .heading {
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    width: 60%;
    padding: 30px 20px;
    padding-left: 80px;
}

.home-page .heading h1 {
    font-size: 6.2vw;
line-height: 5.4vw;
    font-weight: 900;
    margin-bottom: 40px;
    font-family: 'Expletus Sans';
}

.home-page .heading h1 span {
    color: cyan;
    /*text-shadow: aqua 0 0 3px, rgba(0, 255, 255, 0.7) 0 0 6px, rgba(0, 255, 255, 0.4) 0 0 9px;*/
    text-shadow: rgb(136, 255, 255) 0 0 3px, rgb(136, 255, 255) 0 0 3px, rgba(136, 255, 255, 0.7) 0 0 5px, rgba(136, 255, 255, 0.4) 0 0 8px;
}

.home-page .heading h4 {
    font-family: 'Mom Cake';
    letter-spacing: .2em;
    font-size: 2vw;
    color: black;
    text-shadow: aqua 0 0 2px, rgba(0, 255, 255, 0.4) 0 0 4px;
    margin: 4px 0;
}

.home-page hr {
    /*color: aqua;
        box-shadow: aqua 0 0 2px;*/
    margin-bottom: 44px;
    width: 80%;
    left: 0;
    margin-left: 0;
    background-image: linear-gradient(to right, transparent, aqua);
    height: 1px;
    border: 0;
}

.home-page .neon-pillar,
.home-page .three-dimensional-neon-structure {
    width: 470px;
    perspective: 1905px;
    height: 100%;
    position: absolute;
    /*! transform: rotateX(-29deg); */
    top: 50%;
}

.home-page .neon-pillar .three-dimensional-effect,
.home-page .three-dimensional-neon-structure .three-dimensional-effect {
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    transform: rotateX(0deg) rotateY(0deg);
    animation: spinning-pillar 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: flex;
    justify-content: center;
}

.home-page .neon-pillar .three-dimensional-effect .figure-side {
    height: 200px;
    width: 100px;
    background-color: cyan;
    box-shadow: aqua 0 0 18px, rgba(0, 255, 255, 0.4) 0 0 11px;
    position: absolute;
}

.home-page .neon-pillar .three-dimensional-effect .figure-side.face {
    transform: translateZ(50px);
}

.home-page .neon-pillar .three-dimensional-effect .figure-side.right {
    transform: translateX(50px) rotateY(90deg);
}

.home-page .neon-pillar .three-dimensional-effect .figure-side.left {
    transform: translateX(-50px) rotateY(90deg);
}

.home-page .neon-pillar .three-dimensional-effect .figure-side.back {
    transform: translateZ(-50px);
}

.home-page .neon-pillar .three-dimensional-effect .figure-side.top {
    transform: translateY(-50px) rotateX(90deg);
    height: 100px;
}

.home-page .neon-pillar .three-dimensional-effect .figure-side.bottom {
    transform: translateY(150px) rotateX(90deg);
    height: 100px;
}

@keyframes spinning-pillar {
    0% {
        transform: rotateY(0deg);
    }

    /*50% {
        transform: rotateY(180deg);
    }*/
    100% {
        transform: rotateY(360deg);
    }
}

.three-dimensional-neon-structure .three-dimensional-effect {
    scale: 0.3;
}

.three-dimensional-neon-structure .outer-border {
    transform: translateX(-78px);
}

.three-dimensional-neon-structure .letter-a {
    /*transform: translateZ(20px) translateX(-80px);*/
    transform: translateY(20px) translateX(-80px) translateZ(34px);
}

.three-dimensional-neon-structure .letter-k {
    /*transform: translateX(20px) translateZ(34px);*/
    transform: translateY(20px) translateX(34px) translateZ(34px);
}

.three-dimensional-neon-structure,
.outer-border,
.three-dimensional-neon-structure .letter-a,
.three-dimensional-neon-structure .letter-k,
.three-dimensional-neon-structure .pillar {
    transform-style: preserve-3d;
}

.three-dimensional-neon-structure .letter-a .pillar.tilted {
    transform: rotateZ(40deg);
}

.three-dimensional-neon-structure .letter-k .pillar.up {
    transform: translate3d(71px, 170px, 0) rotateZ(-125deg);
}

.three-dimensional-neon-structure .letter-k .pillar.down {
    transform: translate3d(230px, 240px, 0) rotateZ(125deg);
}

.three-dimensional-neon-structure .letter-k .pillar.up .face.bottom {
    transform: rotateX(90deg) translate3d(0px, -35px, -161px);
}

.three-dimensional-neon-structure .letter-k .pillar.up .face,
.three-dimensional-neon-structure .letter-k .pillar.down .face {
    height: 196px;
}

.three-dimensional-neon-structure .letter-k .pillar.up .face.top,
.three-dimensional-neon-structure .letter-k .pillar.up .face.bottom,
.three-dimensional-neon-structure .letter-k .pillar.down .face.top,
.three-dimensional-neon-structure .letter-k .pillar.down .face.bottom {
    height: 70px;
}

.three-dimensional-neon-structure .face {
    height: 300px;
    width: 70px;
    background-color: cyan;
    box-shadow: aqua 0 0 18px, rgba(0, 255, 255, 0.4) 0 0 11px;
    position: absolute;
}

.three-dimensional-neon-structure .face.top,
.three-dimensional-neon-structure .face.bottom {
    height: 70px;
}

.three-dimensional-neon-structure .outer-border .face {
    height: 800px;
    transform: translate3d(39px, -403px, 0) rotateX(90deg) rotateZ(90deg);
}

.three-dimensional-neon-structure .outer-border .pillar.top {
    transform: translateY(-103px);
}

.three-dimensional-neon-structure .outer-border .pillar.left {
    transform: rotateZ(90deg) translate3d(71px, 429px, 0);
}

.three-dimensional-neon-structure .outer-border .pillar.right {
    transform: rotateZ(-90deg) translate3d(-215px, 577px, 0);
}

.three-dimensional-neon-structure .outer-border .pillar.bottom {
    transform: translateY(503px);
}

.three-dimensional-neon-structure .outer-border .pillar.right .face,
.three-dimensional-neon-structure .outer-border .pillar.left .face {
    height: 600px;
}

@media only screen and (max-width: 650px) {
    .home-page {
        display: block;
    }

    .home-page > div {
        display: grid;
    }

    .home-page .heading {
        width: 100%;
        padding: 0;
    }

    .home-page .heading h1 {
        text-align: center;
        margin-bottom: 28px;
        font-size: 3.6em;
line-height: .9em;
max-width: 100%;
word-spacing: 100vw;
    }

    .home-page .heading hr {
        margin: 0 auto;
        background-image: linear-gradient(to right, transparent, aqua, transparent);
margin-bottom: 38px;
    }

    .home-page .heading h4 {
        text-align: center;
        font-size: 1.2em;
    }

    .home-page .three-dimensional-neon-structure {
        scale: 0.65;
        top: 50px;
        perspective: 2927px;
        width: 100%
    }
}

/*Contact*/


.contact-page > h2 {
    color: #e4c023;
text-align: center;
margin-bottom: 0;
font-size: 1.7em;
text-shadow: rgb(233, 205, 80) 0 0 2px, rgba(233, 205, 80, 0.7) 0 0 3px, rgba(233, 205, 80, 0.4) 0 0 5px;
}

.contact-page > p {
    text-align: center;
margin: 0;
font-size: 0.85em;
}

.contact {
    width: 820px;
    background-image: linear-gradient(-45deg, #e4c023, #f21a77);
    /*border: yellow 4px solid;*/
    /*height: 550px;*/
    /*filter: drop-shadow(yellow 2px -2px 3px) drop-shadow(yellow -2px 2px 3px);*/
    margin: 35px auto;
    z-index: 2;
    position: relative;
    /*box-shadow: rgba(255,215,0,0.6) 0px 0px 16px 6px;
    padding: 7px;*/
    box-sizing: initial;
}

.contact .border {
    box-shadow: #e4c023 0 0px 15px;
    /*background-image: linear-gradient(-45deg, #e4c023, #f21a77);*/
    padding: 7px;
    box-sizing: initial;
    background-color: black;
    box-shadow: rgb(220, 180, 85) 0 0px 6px, rgba(220, 180, 85, 0.7) 0 0px 12px, rgba(220, 180, 85, 0.5) 0 0px 18px;
    overflow: hidden;
}

.contact .glow {}

.contact .background {
    display: flex;
    min-height: 312px;
}

.contact .background .right-window {
    position: relative;
overflow: hidden;
width: 100%;
}

.contact .contact-info-box {
    width: 336px;
    background-color: #e4c023;
    box-shadow: rgb(224, 202, 25) 0 0 8px, rgba(224, 202, 25, 0.7) 0 0 14px;
    height: 100%;
    font-size: 0.75em;
    z-index: 1;
}

.contact .contact-info-box .list ul {
    padding-left: 26px;
}

.contact .contact-info-box .list li {
    list-style-type: none;
    line-height: 60px;
}

.contact .contact-info-box .list li .icon {
    padding: 6px;
    max-width: 60px;
    background-color: #dca112;
    border-radius: 50%;
    display: inline flow-root list-item;
    vertical-align: middle;
    box-shadow: #a97d10 0 2px 0;
}

.contact .contact-info-box .list li .icon i {
    font-size: 1.3em;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .contact-info-box .list li p {
    display: inline;
    margin-left: 8px;
    vertical-align: top;
}

.contact .form {
    width: calc(450px *2);
    /* height: 312px; */
    /* top: -312px; */
    top: 0;
    left: 0;
    height: 624px;
    position: relative;
    overflow: hidden;
    transition: top 1.4s, left 1.4s;
}

.contact .form > div {
    width: 450px;
}

.contact .form.error {
    left: -450px;
}

.contact .form.successfully-submitted {
    top: -312px;
}

.contact .form form {
    opacity: 1;
    transition: opacity 0.8s;
}

.contact .form.successfully-submitted form,
.contact .form.error form {
    opacity: 0;
}

.contact .form .error-window {
    opacity: 0;
    display: grid;
    grid-auto-rows: 30% 50% 20%;
    height: 100%;
    text-align: center;
    color: white;
    transition: opacity 0.8s;
}

.contact .form.error .error-window {
    opacity: 1;
}

.contact .form .error-window .header {
    font-family: 'Mom Cake';
    font-size: 1.5em;
}

.contact .form .error-window .body {
    font-size: 0.8em;
    position: relative;
}

.contact .form .error-window .body p#error-message {
    line-height: 2.5em;
}

.contact .form .error-window .body .bottom-text {
    bottom: 0;
    position: absolute;
    font-weight: 500;
    padding-bottom: 10px;
    width: 100%;
}

.contact .form .error-window .bottom {
    align-self: center;
}

.contact .form .submit-success-window {
    opacity: 0;
    transition: opacity 1.8s;
    transition-delay: 0.6s;
}

.contact .form.successfully-submitted .submit-success-window {
    height: 312px;
    position: absolute;
    width: inherit;
    /* background-color: #e5af2c; */
    /*display: block;*/
    opacity: 1;
}

.contact .form.successfully-submitted .submit-success-window p {
    margin: 0;
}

.contact .form.successfully-submitted .submit-success-window .form-validation-logo {
    background-image: url("https://icon-library.com/images/completed-icon/completed-icon-6.jpg");
    height: 106px;
    width: 106px;
    background-size: cover;
    margin: 0 auto;
}

.contact .form.successfully-submitted .submit-success-window .row-logo .logo {
    box-shadow: rgb(220, 180, 85) 0 0px 6px, rgba(220, 180, 85, 0.7) 0 0px 12px, rgba(220, 180, 85, 0.5) 0 0px 18px;
    width: 100px;
    border-radius: 50%;
    min-height: 60px;
    display: block;
    margin: auto;
    padding: 18px;
}

.contact .form.successfully-submitted .submit-success-window .row-text {
    padding: 0 20px;
    display: block;
}

.contact .form.successfully-submitted .submit-success-window .row-text .text-padding {
    margin: 0;
    margin-top: 8px;
    font-size: 0.75em;
    padding: 0 30px;
    text-align: center;
}

.contact .form .submit-success-window .align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: grid;
    grid-auto-rows: 45% 30% 25%;
}

.contact .form .submit-success-window .row-logo {
    text-align: center;
}

.contact .form .submit-success-window h4 {
    color: white;
    text-align: center;
    font-size: 1.5em;
    text-transform: capitalize;
    font-family: 'Mom Cake';
    margin: 0;
}

.contact .form .submit-success-window a {
    border: none;
    text-decoration: none;
}

.contact::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    /*background-image: linear-gradient(-45deg, #e4c023, #f21a77);*/
    filter: blur(27px);
    z-index: -2;
}


/*.contact::before {
        content: "";
        position: absolute;
        height: 50%;
        width: 50%;
        background: linear-gradient(90deg, purple, green, hotpink);
        z-index: -1;
        filter: blur(20px);
    }*/

.contact input {
    width: 170px;
    border: none;
    /*border-bottom: yellow 4px solid;*/
    background: none;
    margin: 0 19px;
    color: white;
}

.contact input[type="email"],
.contact textarea {
    width: 378px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    height: 38px;
    border-radius: 11px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    /*background-image: linear-gradient(to right, #ed5858, #ea7549);*/
    font-size: 0.7em;
    padding-right: 16px;
    background-color: #dca112;
    background-color: #191919;
    box-shadow: rgba(128, 125, 125, 0.05) inset 0 0 6px;
}

.contact form {
    margin: 0;
    padding-top: 16px;
    display: block;
}

.contact .row {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.contact .row.textarea {
    height: 126px;
}

.contact textarea {
    /*border: yellow 4px solid;*/
    height: 114px;
    resize: none;
    margin: auto auto 0 auto;
    color: white;
    font-family: Arial;
    /*background-image: linear-gradient(to right, #ee485f, #e9893f);*/
    padding: 16px 12px;
}

.contact input[type="submit"],
.contact .form .submit-success-window a,
.contact .neon-btn {
    /*height: 30px;*/
    border-radius: 40px;
    /*filter: drop-shadow(yellow 0px 2px 2px);*/
    background-color: rgb(255, 215, 0);
    /* box-shadow: rgba(255, 215, 0, 0.7) 0px 0px 11px 5px, yellow inset 0px 0px 11px 5px; */
    box-shadow: rgba(255, 215, 0, 0.5) 0px 0px 11px 1px, rgba(255, 215, 0, 0.2) 0px 0px 16px 4px, yellow inset 0px 0px 11px 5px;
    border: none;
    padding: 10px 13px;
    color: rgb(224, 160, 48);
    transition: box-shadow 0.7s;
    text-transform: uppercase;
    font-family: Candara;
    font-size: 12px;
    letter-spacing: 8px;
    font-weight: bold;
    text-indent: 8px;
}

.contact .form .submit-success-window a {
    padding-left: 21px;
}

.contact input[type="submit"]:hover,
.contact .form .submit-success-window a:hover,
.contact .neon-btn:hover {
    /* box-shadow: rgb(255, 215, 0) 0px 0px 8px 2px, yellow inset 0px 0px 8px 2px; */
    box-shadow: rgba(255, 215, 0, 0.4) 0px 0px 6px 2px, rgba(255, 215, 0, 0.2) 0px 0px 10px 2px, yellow inset 0px 0px 8px 2px;
}

@font-face {
    font-family: "Zefani Stencil";
    src: url("Zefani_Uppercase_Demo-Regular.oft");
}

.contact h2 {
    color: transparent;
    text-align: center;
    text-shadow: yellow -2px 5px 6px;
    font-size: 33px;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin: 0;
    font-family: 'Futura PT';
    font-size: 3rem;
    margin-bottom: 40px;
    text-shadow: #ffd700 0px 0px 7px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-color: yellow;
}

.contact input[type="text"]:focus,
.contact textarea:focus,
.contact input[type="email"]:focus {
    outline: 0;
}

.contact .row.button {
    height: 70px;
}

.light-container {
    width: 882px;
    border: yellow 4px solid;
    height: 550px;
    filter: drop-shadow(yellow 2px -2px 3px) drop-shadow(yellow -2px 2px 3px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


@media only screen and (max-width: 650px) {

    .contact-page > h2 {
        padding: 0 28px;
line-height: 1.15em;
margin-bottom: 27px;
    }

    .contact-page > p {
        font-size: .775em;
padding: 0 12px;
    }

    .contact {
        width: initial;
    }

    .contact .background {
        flex-direction: column-reverse;
    }

    .contact .contact-info-box {
        width: 100%;
    }

    .contact .background .right-window {
        width: calc(100vw - (8px + 7px)*2);
        height: 312px;
    }

    .contact .form {
        width: calc((100vw - (8px + 7px)*2)*2);
    }

    .contact .form.error {
        left: -100%;
      }

    .contact .form > div {
        width: calc(100vw - (8px + 7px)*2);
    }

    .contact .row input[type="text"], 
    .contact .row input[type="email"], 
    .contact .row textarea {
        width: 100%;
    }

    .contact .row textarea {
        margin: 0 19px;
    }

    .contact .form .row:first-of-type input:first-child {
        margin-right: 4px;
    }

    .contact .form .row:first-of-type input:last-child {
        margin-left: 4px;
    }
}


.contact-page .header h2 {
    color: #e4c023;
text-align: center;
margin-bottom: 0;
font-size: 2.9vw;
text-shadow: rgb(233, 205, 80) 0 0 2px, rgba(233, 205, 80, 0.7) 0 0 3px, rgba(233, 205, 80, 0.4) 0 0 5px;
}

.contact-page .header {
    min-height: calc(100vh - 80px);
    display: flex;
justify-content: center;
align-items: center;
opacity:0;
transition: .6s ease-in;
transition-delay: .5s;
}

.contact-page .header.visible {
    opacity: 1;
}

.contact-page .header p {
    text-align: center;
    font-size: 1.3vw;
    margin-top: 16px;
}

.contact-page .centered {
    display: grid;
    justify-items: center;
}

.contact-page .centered p {
    text-align: center;
    align-self: end;
}

.contact-page .centered .block {
    min-height: 96vh;
    display: grid;
grid-auto-rows: 184px auto;
opacity: 0;
transform: translateY(100px);
transition: .7s ease-in;
}

.contact-page .centered .block.visible {
    opacity: 1;
    transform: translateY(0);
}

.contact-page .central-container {
    display: flex;
    margin-top: 26px;
    align-items: center;
}

.contact-page .central-container .title {
    color: orange;
    font-size: 4em;
}

.contact-page .central-container .title,
.contact-page .central-container .info-text {
    align-self: center;
}

.contact-page .central-container .info-text h2 {
    color: #e4c023;
    text-align: center;
    margin-bottom: 0;
    font-size: 3.7em;
    text-shadow: rgb(233, 205, 80) 0 0 2px, rgba(233, 205, 80, 0.7) 0 0 3px, rgba(233, 205, 80, 0.4) 0 0 5px;
    word-wrap: break-word;
line-height: 0.925em;
margin-top: 0;
}

.contact-page .block:nth-of-type(2) .central-container .info-text h2 {
    text-align: left;
    font-size: 4vw;
}

.contact-page .central-container .info-text h6 {
    color: white;
margin: 10px 0;
font-size: 1.6vw;
font-weight: 200;
font-family: 'Montserrat';
}

.contact-page .central-container .title h1 {
    font-family: 'Mom Cake';
    margin: 0;
    color: black;
    text-shadow: rgb(233, 205, 80) 0 0 5px;
line-height: 0.65em;
text-transform: uppercase;
padding-top: 18px;
font-size: 8.05vw;
letter-spacing: .3vw;
}

.contact-page .central-container .title h2 {
    font-family: 'Mom Cake';
    margin: 0;
    font-size: 3.85vw;
    letter-spacing: 0.26em;
    line-height: 0.9em;
    text-transform: uppercase;
    color: black;
    text-shadow: rgb(233, 205, 80) 0 0 4px;
}

.contact-page .central-container .neon-light {
    margin: 0 44px;
    width: 15px;
    position: relative;
    height: 234px;
}

.contact-page .central-container .neon-light .tube {
    position: absolute;
    background-color: #e4c023;
box-shadow: rgb(233, 205, 80) 0 0 10px 2px, rgb(233, 205, 80) inset 0 0 10px 2px;
    height: 100%;
    border-radius: 8px;
    width: 100%;
}

.contact-page .central-container .info-text {
    max-width: 340px;
}

.contact-page .central-container .info-text h3 {
    font-family: 'Mom Cake';
    color: white;
    font-size: 1.5em;
    margin: 0;
}

.contact-page .central-container .info-text a {
    background-color: orange;
    box-shadow: rgba(237, 156, 10, 0.6) 0 0 11px 2px, rgba(237, 156, 10, 0.3) 0 0 16px 2px, rgb(221, 189, 131) inset 0 0 10px;
    color: #d97134;
    text-decoration: none;
    padding-left: 21px;
}

@media only screen and (max-width: 650px) {

    .contact-page .header > div {
        padding-left: 12px;
padding-right: 12px;
    }

    .contact-page .header h2 {
        font-size: 2.6em;
    }

    .contact-page .header p {
        font-size: 1.2em;
    }

    .contact-page .centered .block {
        width: 100%;
    }

    .contact-page .central-container {
        display: grid;
    }

    .contact-page .central-container .neon-light {
        width: 70%;
height: 15px;
margin: auto;
    }

    .contact-page .central-container .title {
        text-align: center;
        align-self: end;
    }

    .contact-page .central-container .title h1 {
        font-size: 1.4em;
    }

    .contact-page .central-container .title h2 {
        font-size: .625em;
text-indent: .26em;
    }

    .contact-page .central-container .info-text {
        max-width: 88vw;
        justify-self: center;
        text-align: center;
        align-self: baseline;
      }

      .contact-page .central-container .info-text h2 {
        font-size: 2.8em;
      }

      .contact-page .block:nth-of-type(2) .central-container .info-text h2 {
        font-size: 2.5em !important;
      }

      .contact-page .central-container .info-text h6 {
        font-size: 1em;
      }
}



@media only screen and (min-width: 1440px) {
    .home-page .heading h1 {
        font-size: 6.2vw;
line-height: 6.2vw;
    }

    .home-page .heading h4 {
        font-size: 2vw;
    }
}



/*
 **********************************************
 **********************************************
 ***************   Error Pages   **************
 **********************************************
 **********************************************
 */

body.error-page {
    margin: 0;
    overflow: hidden;
}

body.error-page .main-window {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

body.error-page .main-window .central-container {
    display: inherit;
}

body.error-page .main-window .central-container .title {
    color: orange;
    font-size: 4em;
}

body.error-page .main-window .central-container .title,
body.error-page .main-window .central-container .info-text {
    align-self: center;
}

body.error-page .main-window .central-container .title h1 {
    margin: 0;
    line-height: 0.9em;
}

body.error-page .main-window .central-container .title h2 {
    margin: 0;
    font-size: .85em;
    letter-spacing: 0.26em;
    line-height: 0.9em;
    text-transform: uppercase;
}

body.error-page .main-window .central-container .neon-light {
    margin: 0 44px;
    width: 15px;
    position: relative;
    height: 234px;
}

body.error-page .main-window .central-container .neon-light .tube {
    position: absolute;
    background-color: orange;
    box-shadow: rgb(211, 148, 31) 0 0 10px 2px, rgb(226, 170, 65) inset 0 0 10px 2px;
    height: 100%;
    border-radius: 8px;
    width: 100%;
}

body.error-page .main-window .central-container .info-text {
    max-width: 340px;
}

body.error-page .main-window .central-container .info-text h3 {
    font-family: 'Mom Cake';
    color: white;
    font-size: 1.5em;
    margin: 0;
}

body.error-page .main-window .central-container .info-text a {
    background-color: orange;
    box-shadow: rgba(237, 156, 10, 0.6) 0 0 11px 2px, rgba(237, 156, 10, 0.3) 0 0 16px 2px, rgb(221, 189, 131) inset 0 0 10px;
    color: #d97134;
    text-decoration: none;
    padding-left: 21px;
}